.nav-wrapper{
    background-color: cornflowerblue;
}
.brand-logo{
    margin-left: 2%;
}
.Title{
    margin-bottom: 4%;
}
.user-view{
    background-color: black;
    color: white;
}
.form-wrapper{
    width: 40%;
    text-align: center;
}
label{
    color: black !important;
    font-size: 20px !important;
    margin-bottom: 2% !important;
}

.info-container{
    text-align: center;
    
}
.info{
    color:white;
}
.first-field{
    background-color: rgb(47, 255, 82);
    margin-right: 4px;
    color:white;
}

.second-field{
    background-color: palevioletred;
    margin-right: 4px;
    color:white;
}

.third-field{
    background-color: turquoise;
    margin-right: 4px;
    color:white;
}

.fourth-field{
    background-color: orangered;
    margin-right: 4px;
    color:white;
}